<h1>Edit book</h1>
<div class="pt-3"></div>
{{#if messages}}
    <div class="alert alert-{{status}}">{{messages}}</div>
{{/if}}
<form method="post" action="/edit-book/{{books.id}}">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" id="title" class="form-control" value="{{books.title}}" />
    </div>
    <div class="mb-3">
        <label for="pages" class="form-label">Pages</label>
        <input type="text" name="pages" id="pages" class="form-control" value="{{books.pages}}" />
    </div>
    <div class="mb-3">
        <label for="isbn" class="form-label">ISBN</label>
        <input type="text" name="isbn" id="isbn" class="form-control" value="{{books.isbn}}" />
    </div>
    <div class="mb-3">
        <label for="short_description" class="form-label">Description</label>
        <input type="text" name="short_description" id="short_description" class="form-control" value="{{books.short_description}}" />
    </div>
     <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <select name="author" id="author" class="form-control">
            <option value="0">Select author</option> 
            {{#each authors}}
            <option value="{{id}}"{{#if selected}}selected="selected"{{/if}}>{{name}} {{surname}}</option>
            {{/each}}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
 </form>